cocos/frameworks/cocos2d-x
cocos/simulator
TestCocos.xcodeproj/project.xcworkspace/xcuserdata/xujiawei.xcuserdatad/UserInterfaceState.xcuserstate
cocos/frameworks/runtime-src/proj.android-studio
cocos/frameworks/runtime-src/proj.win32
cocos/frameworks/runtime-src/proj.ios_mac/AppInside.xcodeproj/project.xcworkspace/xcuserdata/xujiawei.xcuserdatad/UserInterfaceState.xcuserstate
cocos/frameworks/runtime-src/proj.ios_mac/.DS_Store
cocos/frameworks/runtime-src/.DS_Store
cocos/frameworks/.DS_Store
cocos/.DS_Store
.DS_Store


cocoProj/NativeInside/library
cocoProj/NativeInside/temp
cocoProj/NativeInside/local
cocoProj/NativeInside/.DS_Store

cocoProj/NativeInside/build/jsb-default/frameworks/cocos2d-x
cocoProj/NativeInside/build/jsb-default/frameworks/runtime-src/proj.win32
cocoProj/NativeInside/build/jsb-default/frameworks/runtime-src/proj.android-studio
